env/
.idea/
.DS_Store
dataset.npy
tmpframe.npy
training_data.npy
teensyviz_pidnum.txt
ml_pidnum.txt
ds_cmd.txt
ml_cmd.txt
label.txt
saved_files/
__pycache__/
feature_importances.csv
*.pyc
Gemfile.lock
_site/
#*.npy
#*.txt